html {
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0em;
  text-align: center;
  color: #fff;
  font-family: Merriweather;
}

body {
  text-align: center;
  background-color: #d05c2e;
  font-family: Merriweather;
  font-weight: normal;
  color: #fff;
  margin: 0;
  padding: .4rem 0;
  font-size: 2rem;
  line-height: 1.5em;
}



ul {
  color: #fff;
  list-style-type: none;
}

li {
  display: inline-block;
}

a:hover {
  background-color: #a63f38;
  color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}
