html {
  background-color: #fff;
  font-family: Merriweather, bold;
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  background-color: #d05c2e;
  font-family: Merriweather;
  font-weight: normal;
  color: #fff;
  margin: 0;
  padding: .5rem;
  line-height: 1.5em;
  padding-bottom: 0;
}

img {
  width: 40px;
}

.grain-left {
  display: flex;
  float: left;
}

.center {
  display: inline-block;
  padding-bottom: 10px;
}

.grain-right {
  display: flex;
  float: right;
}

.flex-container {
  display: flex;
  background-color: #a63f38;
  position: relative;
  padding-bottom: .4rem;
  align-items: center;
}

.flex-container > div {
  background-color: #d05c2e;
  text-align: center;
  margin: 1px;
  line-height: 1.5rem;
  font-size: 1.125rem;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: .5em;
  justify-content: space-between;
}

nav li {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.flex-container > div:hover {
  background-color: #a63f38;
  color: #dbd6cf;
}
