html {
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.flex-container{
  display: flex;
  background-color: #a63f38;
  position: relative;
  padding-bottem: 0.4rem;
}

.flex-container > div {
  background-color: #d05c2e;
  text-align: center;
  margin: 1px;
  line height:1.125rem;
  font-size: 1.125rem;
  width: 100;
}

}
.grain-left{
  float: left;
}

.row{
  display: flex;
  justify-content: center;

}

.grain-right{
  float: right;
}
body {
  text-align: center;
  background-color: #d05c2e;
  font-family: Merriweather;
  font-weight: normal;
  color: #fff;
  margin: 0;
  padding: .4rem 0;
  font-size: 2rem;
  line-height: 1.5em;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li{
  margin: .5em 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #a63f38;
  color: #dbd6cf
}


img {
  width: 40px;
}
